<h1>todoリスト</h1>


<form action="/create" method = "post">
  <%= Rack::Csrf.csrf_tag(env)%>

  <%# セレクトボックス %>
  <select name="user" >
    <% @users.each do |user|%>
      <option value="<%= user.userName%>"><%= user.userName%></option>
    <% end %>
  </select>

  <input type="text" name="body" class="text_box">
  <input type="submit" value="送信">
</form>


<div class="main">
  <div class="user_box">
    <p class="user_name">まこと</p>
    <ul>
      <% @todos.where(users_userName: "まこと").each do |todo|%>
        <%# ここ重要 %>
        <%# liにカスタムデータ属性としてidを持たせる(ajaxで使用)%>
      <li data-id = "<%= todo.id%>" data-token = "<%= Rack::Csrf.csrf_token(env)%>">
          <div class="one">
            <%#= todo.users_userName %>
            <%= Rack::Utils.escape_html(todo.body)%>
          </div>

          <div class="time">
            <%# .to_timeで変換することで時間の整形が可能となる%>
            <%= time = todo.created_at.to_time.strftime("%Y/%m/%d %H:%M:%S")%>
            <span class="delete">[x]</span>
          </div>
      </li>
      <% end%>
    </ul>
  </div>


  <div class="user_box">
    <p class="user_name">あかり</p>
    <ul>
      <% @todos.where(users_userName: "あかり").each do |todo|%>
        <%# ここ重要 %>
        <%# liにカスタムデータ属性としてidを持たせる(ajaxで使用)%>
      <li data-id = "<%= todo.id%>" data-token = "<%= Rack::Csrf.csrf_token(env)%>">
          <div class="one">
            <%#= todo.users_userName %>
            <%= Rack::Utils.escape_html(todo.body)%>
          </div>

          <div class="time">
            <%# .to_timeで変換することで時間の整形が可能となる%>
            <%= time = todo.created_at.to_time.strftime("%Y/%m/%d %H:%M:%S")%>
            <span class="delete">[x]</span>
          </div>
      </li>
      <% end%>
    </ul>
  </div>

  
  <div class="user_box">
    <p class="user_name">しゅうと</p>
    <ul>
      <% @todos.where(users_userName: "しゅうと").each do |todo|%>
        <%# ここ重要 %>
        <%# liにカスタムデータ属性としてidを持たせる(ajaxで使用)%>
      <li data-id = "<%= todo.id%>" data-token = "<%= Rack::Csrf.csrf_token(env)%>">
          <div class="one">
            <%#= todo.users_userName %>
            <%= Rack::Utils.escape_html(todo.body)%>
          </div>

          <div class="time">
            <%# .to_timeで変換することで時間の整形が可能となる%>
            <%= time = todo.created_at.to_time.strftime("%Y/%m/%d %H:%M:%S")%>
            <span class="delete">[x]</span>
          </div>
      </li>
      <% end%>
    </ul>
  </div>

</div>
